[submodule "vendor/raphael.draggable"]
	path = vendor/raphael.draggable
	url = git://github.com/tantalor/raphael.draggable.git
[submodule "vendor/graphjs"]
	path = vendor/graphjs
	url = git://github.com/tantalor/graphjs.git
[submodule "vendor/raphael"]
	path = vendor/raphael
	url = git://github.com/DmitryBaranovskiy/raphael.git
[submodule "vendor/raphael.graph"]
	path = vendor/raphael.graph
	url = git://github.com/tantalor/raphael.graph.git
